@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono", monospace;
}
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Shared Style */
.dark1 {
  color: #0d1321;
}
.dark2 {
  color: #0d1321;
}
.extra-m1 {
  margin: 50px 150px;
}
.extra-m2 {
  margin: 38px 150px;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.section-title {
  font-size: 32px;
  line-height: 36px;
  font-weight: 800;
}
.secondary-bg {
  background-color: #fafafb;
}
.primary-description {
  font-size: 16px;
  line-height: 26px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mt-48 {
  margin-bottom: 48px;
}
.mr-24 {
  margin-right: 24px;
}
.bg-1 {
  background-color: #fff6f4;
}
.bg-2 {
  background-color: #f2f6fe;
}
.bg-3 {
  background-color: #fffdf2;
}
/* Nav Styles */
header {
  max-width: 1440px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav-title {
  font-weight: 800;
  font-size: 28px;
}
.btn-white {
  background-color: white;
  padding: 17px 24px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
}
.btn-white a {
  text-decoration: none;
  color: #0d1321;
  cursor: pointer;
}
.btn-dark {
  background-color: #0d1321;
  padding: 21px 24px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  border-radius: 8px;
}
.btn-dark a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
/* Banner Styles */
.banner {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 26px 221px 45px;
  margin-bottom: 37px;
}

.banner-image {
  width: 240.28px;
  height: 240px;
}
.banner-title {
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
}
.banner-description {
  font-size: 16px;
  line-height: 26px;
  margin: 0 73px 32px;
}
/* About Styles */
.about-container {
  padding: 37px 152px 45px 148px;
  max-width: 1440px;
}
.about {
  display: flex;
  flex-flow: column;
  max-width: 1140px;
  border-radius: 16px;
  padding: 80px 97px;
}
.about-data {
  margin: 0 47px 48px;
}
.about-items {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  gap: 32px;
}
.about-item {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  text-align: left;
  padding: 48px;
  background-color: white;
  border-radius: 16px;
  border: none;
}
.left {
  margin: 10.5px 25px 10.5px 0;
}
.right2 {
  margin: 10.5px 101px 10.5px 32px;
}
.item-title {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}
.mr-87 {
  margin-right: 87px;
}
.item-description {
  font-weight: 600;
}
.item-button {
  font-weight: 600;
  font-size: 20px;
  padding: 12px 20px;
  background-color: white;
}
.item-button a {
  text-decoration: none;
  color: #0d1321;
  cursor: pointer;
}
/* Inspiration Styles */
.inspiration-container {
  border-radius: 16px;
  margin: 45px 152px 76px 148px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  max-width: 1140px;
}
.inspiration-data {
  margin: 0 144px 48px;
}
.inspiration-video {
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  padding: 32px;
}

.inspiration-video iframe {
  border-radius: 16px;
}

/* Target Styles */
.target-container {
  display: flex;
  flex-flow: column;
  border-radius: 16px;
  margin: 75px 150px 49px;
  max-width: 1140px;
}
.target-curr {
  margin-bottom: 56px;
}
.target-top {
  margin: 0 97px 48px;
  padding: 0 47px;
}
.target-skill {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  text-align: left;
}
.card {
  padding: 40px;
  border-radius: 16px;
}
.card-title {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 36px;
}
.target-skill a {
  color: #0d1321;
  font-weight: bold;
}

.target-next {
  margin-top: 56px;
}
.target-next-skill {
  display: flex;
  gap: 24px;
  text-align: left;
  flex-flow: column;
}
.card-next {
  padding: 40px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  display: flex;
  gap: 24px;
}
.card-next img {
  margin: 15.5px 0;
}
.target-next-skill a {
  color: #0d1321;
  font-weight: bold;
}
/* Support Styles */
.support-container {
  display: flex;
  gap: 24px;
  flex-flow: column;
  align-items: center;
  border-radius: 16px;
  max-width: 1140px;
  padding: 64px 48px;
  background: url(../assets/handshake.jpg) no-repeat center center / cover,
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
  background-blend-mode: overlay;
  margin: 0px 150px 80px;
  color: white;
}
.support-top {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 157px;
  max-width: 1140px;
}
.form1 {
  max-height: 57px;
}
.prl-62 {
  padding-left: 62px;
  padding-right: 62px;
}
.support-bottom input[type="text"] {
  width: 548px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #f7f7f7;
  font-size: 16px;
  padding: 19px 20px;
  margin-right: 16px;
  display: inline;
}
.support-bottom button {
  width: 120px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #f7f7f7;
  font-size: 20px;
  font-weight: 600;
  padding: 17px 20px;
  margin-right: 16px;
  display: inline;
}

/* Footer Styles */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 150px;
  background-color: #f8f8f8;
  max-width: 1140px;
}
footer h4 {
  font-size: 20px;
  font-weight: 600;
}
